{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Logowanie' %}</h1>

    {% for e in form.non_field_errors %}
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-warning-sign"></span>
            {{ e }}
        </div>
    {% endfor %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {% include 'include/form_field_error.html' with field=form.username %}
        <label>{{ form.username.label }}</label><br>
        {{ form.username }}<br>

        {% include 'include/form_field_error.html' with field=form.password %}
        <label>{{ form.password.label }}</label><br>
        {{ form.password }}<br>
        <button class="btn btn-info" type="submit">{% trans 'Zaloguj' %}</button>
    </form>
{% endblock %}